/* Log-In Page*/
/*h2 {
  color: green;
}

body {
  background: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

label {
  color: green;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}*/

/*3) Recipe suggestion in Navbar
    -based on what items you have in your list*/
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover,
.dropdown:hover .dropbtn {
  background-color: green;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 px, 8px, 16px, 0px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
  
.card-panel {
  margin: 10px;
  height: 200px;
  width: fit-content;
}

#responsive-img {
  padding:5px;
}
  #recipe-button {
  position: relative;
}
#recipe {
  position: absolute;
  top: 64px;
  left: 5px;
  height: 500px;
  overflow-y: scroll;
}
